<div style="display: flex;">
  <h1>Bienvenido {{userName}}</h1>
  <h2>tu rol es: {{userRole}}</h2>
  <h3><button id="logoutBtn">Desconoctarse</button></h3>
  <div
    id="containerOfProducts"
    style="display: grid; grid-template-columns: 1fr 1fr;"
  >
    {{#each products}}
      <div style="width: fit-content;">
        <ul style="font-size: 22px; padding-left: 20px;">
          <li>
            <span style="text-decoration: underline;">Name:</span>
            {{this.title}}</li>
          <li><span style="text-decoration: underline;">Description:</span>
            {{this.description}}</li>
          <li>
            <span
              style="text-decoration: underline;"
            >Price:</span>{{this.price}}</li>
          <li><span style="text-decoration: underline;">Status:</span>
            {{#if this.status}}
              active
            {{else}}
              inactive
            {{/if}}</li>
          <li><span style="text-decoration: underline;">Thumbnails:</span>
            {{this.thumbnail}}</li>
          <li>
            <span style="text-decoration: underline;">Code:</span>
            {{this.code}}</li>
          <li>
            <span style="text-decoration: underline;">Stock:</span>
            {{this.stock}}</li>

        </ul>
        <button class="addToCartBtn" value={{this.id}}>Agregar al carrito</button>
      </div>
    {{/each}}
  </div>
  <div style="display: flex; flex-direction: column; ">
    <div style="display: flex;">
      {{#if hasPrevPage}}
        <a href={{prevLink}}>
          <button>Prev</button>
        </a>
      {{else}}
        <a>
          <button aria-disabled="true" style="opacity: 50%;">Prev</button>
        </a>
      {{/if}}

      <p>{{page}}</p>
      {{#if hasNextPage}}
        <a href={{nextLink}}>
          <button>Next</button>
        </a>
      {{else}}
        <a>
          <button aria-disabled="true" style="opacity: 50%;">Next</button>
        </a>
      {{/if}}
    </div>

    <div style="display: flex; flex-direction: column; ">
      <p>Productos a mostrar</p>
      <div id="limitContainer">
        <a href="" value="limit=2"><button>2</button></a>
        <a href="" value="limit=5"><button>5</button></a>
        <a href="" value="limit=10"><button>10</button></a>
      </div>
      <p>Ordenar por</p>
      <div id="sortingContainer">
        <a href="" value="sort=asc"><button>Menor precio</button></a>
        <a href="" value="sort=desc"><button>Mayor precio</button></a>
      </div>
      <div id="cartContainer">
        <p>Carrito: <p id="itemQuantity">0</p></p>
        <a href="" id="checkCart" target="_blank"><button>Ver carrito</button></a>
        <a href="" id="emptyCart" target="_blank"><button>Vaciar carrito</button></a>
      </div>

    </div>
  </div>

</div>
<script src="/js/products.js">

</script>